footer{
    background-color: #434343;
    padding: 1.5rem 0;
    text-align: center;
    position: relative;
    bottom: 0;
    /* width: 100%;*/
    font-family: 'Mandali', sans-serif; color:white;
    font-size: small;
    /* height: 2px; */
     
}

.tra img{
    width: 80px;
    height: 50px;
    left: 10px;
    top: 8px;
    position: absolute;
}
