.contacto{
    width: 500px; 
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    font-family: $font-principal; color:white;
    text-align: center;
    border-radius: 15px;
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: 
       linear-gradient(
            60deg,
            #b16ec4,
            #5f97b9

       )

 }



 .contacto h1{
    position: absolute;
    left: 200px;
    top: -40px;
    border-radius: 3%;
    background-color: #434343;
    font-family: $font-contacto;
    color: rgb(180, 28, 155);
    
 }

 .Menu-Somos{
    width: 500px; 
    background: rgba(0, 0, 0, .4);
    margin: 0 auto;
    margin-top: 4%;
    padding: 20px;
    font-family: $font-principal; color:white;
    text-align: center;
    border-radius: 15px;


 }

 .Menu-Somos-img{
     border-radius: 50%;
 }

 .Menu-Somos h1{
     font-size: 40px;
     letter-spacing: 4px;
     font-weight: 100;
     margin: 30px 0 20px;
 }
 .Menu-Somos h2{
     font-size: 20px;
     letter-spacing: 3px;
     font-weight: 100;
     margin-bottom: 20px;
             

 }

 .Menu-Somos p{
     text-align: justify;
 }


 .main p{
    position: fixed;
    height: 250px;
    width:250px;
    border-radius:  50%;
    left: 1050px;
    top: 70px;
    }


.nosotros{
        width: 500px; 
        background: rgba(0, 0, 0, .4);
        margin: 0 auto;
        margin-top: 4%;
        padding: 20px;
        font-family: $font-principal; color:white;
        text-align: center;
        border-radius: 15px;
        border: solid;
        border-image-slice: 1;
        border-width: 5px;
        border-image-source: 
           linear-gradient(
                60deg,
                #b16ec4,
                #5f97b9

           )
    }

    .nosotros p{
        
        font-family: $font-contacto;
        
        font-size: xx-large;

    }
