@mixin altura {

    width:450px;
    
}
.formularioT{
    @include altura();
    margin:auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;

}
.formularioT h2, h1{
    color: white;
    text-align: center;
    margin: 0;
    font-size:30px;
    margin-bottom: 20px;
    font-family: $font-principal;

}

input, textarea{
    width: 100%;
    margin-bottom: 20px ;
    padding: 7px;
    box-sizing: border-box;
}

textarea{
    min-height: 100px;
    min-width: 200px;
    max-width: 100%;
}

#boton{
    background: #31384A;
    color: #fff;
    padding: 20px;
}

#boton:hover{
    cursor: pointer;
}