@media all and (max-width:500px){
 
 
    .contenedor-galeria{

        display: grid;

        grid-template-columns: 1fr;

             

    }
}


@media(max-width:480px){
    .formularioT{
        width: 100%;
    }
}


@media(max-width:480px){
    .formularioC{
        width: 100%;
    }
}
@media(max-width:480px){    
    .Menu-Somos{
        width: 100%;
    }
    .Menu-Somos h1{
        font-size: small;
    }
}
